body {
    font-family: Roboto, serif;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.container-fluid {
    background-color: #102516;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    overflow-x: hidden !important;
}

.text-primary {
    color: #02b6ff !important;
}

.footer {
    background-image: linear-gradient(to bottom, rgba(2, 25, 60, 0.8) 0%,
    rgba(2, 25, 60, 0.9) 100%),
    url("img/group-22@2x.png");
    /*background-image: url("img/group-22@2x.png");*/
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.9;
}

.sub-title {
    font-size: 14px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d3d9e0;
}

.bg-danger {
    background: #0b3c91 !important;
}

.parent {
    position: relative;
    max-height: 900px;
    width: 100%;
    opacity: 0.8;
}

.absolute-carousel {
    position: absolute;
    top: 60%;
}

.snow {
    position: relative;
    bottom: 20%;
    right: 20%;
    opacity: 0.8;
}

.snow-2x {
    position: absolute;
    top: 0;
    left: -30%;
    opacity: 0.6;
    z-index: 0;
}

.hr-bottom {
    border-bottom: solid #0d88cb 4px;
}

.bg-none {
    background-color: #112514 !important;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.collapsing {
    background-color: rgba(2, 25, 60, 0.8) !important;
}

.collapse.show {
    background-color: rgba(2, 25, 60, 0.8) !important;
}

.border-radius {
    border-radius: 20px !important;
}

.img-product-size {
    min-height: 142px !important;
    width: 100%;
}

.background-tab {
    background-image: url("img/group-65_2.png"), url("img/group-65.png");
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
}

.border-radius-search {
    border-radius: 20px !important;
    border: solid 1px #707070 !important;
}

.border-radius-btn {
    width: 160px;
    height: 34px;
    border-radius: 10px;
    border: solid 1px #ffd766;
    background-image: url("img/button.png");
    background-repeat: no-repeat;
    background-size: cover;

    font-weight: normal;
    color: #ffffff;
}

.btn-product {
    background-image: linear-gradient(to top, #0158b1, #02b6ff);
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    z-index: 10;
}

.tag-slider {
    position: absolute;
    top: 25px;
    right: -25px;
    width: 136px;
    transform: rotatez(40deg);
}

.title-header {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #ffffff;
}

.radius-28 {
    border-radius: 28px;
}


h2 {
    font: 33px sans-serif;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font: 33px sans-serif;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}


.title {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #05193c;
    color: white;
    padding: 0 15px;
    font-size: 24px;
    font-weight: bold;
}

h2.double:before {
    /* this is just to undo the :before styling from above */
    border-top: none;
}

h2.double:after {
    border-bottom: 1px solid blue;
    -webkit-box-shadow: 0 1px 0 0 #204680;
    -moz-box-shadow: 0 1px 0 0 #204680;
    box-shadow: 0 1px 0 0 #204680;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 95%;
    z-index: -1;
}

.nav-tabs {
    border-bottom: 1px solid #57baf7;
}

.nav-item {
    font-size: 16px;
}

.nav-tabs .nav-link.active {
    background-color: #05193c;
    color: #57baf7;
    /*font-size: 20px;*/
    font-weight: bold;
    border: 0;
    border-bottom: 3px solid #57baf7 !important;
    font-size: 16px;
}

.nav-tabs .nav-link:hover {
    border: 0;
}

a.nav-link {
    color: #ffffff;
    padding: 8px 10px !important;
    font-size: 14px;
}

.searchInput {
    /*border-radius: 20px !important;*/
    /*border: solid 1px #707070 !important;*/
    /*background-color: #ffffff;*/
    color: #ffffff !important;
    font-size: 12px;
    background-image: url('img/icon-24-px-ic-search.png');

    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    margin: 8px;

    /*opacity: 0.5;*/
    border-radius: 20px;
    border: solid 1px #57baf7;
    background-color: #0b3c91;

}

.title-menu {
    color: #ffffff !important;
}

/*card-product*/


.product-card {
    position: relative;
    width: 100%;
    background: #204680;
}

.badge {
    position: absolute;
    left: .5rem;
    top: .5rem;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background-image: linear-gradient(255deg, #02b6ff, #0158b1);
    color: #fff;
    padding: 3px 10px;
    border-radius: 12px 0;
}

.favorite {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.product-tumb {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    background: #373737;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    background-image: url('img/s-now.png');
    background-position: right -50px bottom -70px;
    background-size: auto;
    background-repeat: no-repeat;
}

.product-catagory {
    display: block;
    font-size: 16px;
    color: #ffffff;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}


.product-details .price {
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
}

.product-bottom-details {
    overflow: hidden;
    background: #0c3370;
    border-radius: 0 0 20px 20px;
    height: 32px;
    position: relative;
}

.product-bottom-details .a {
    float: left;
    width: 48%;
    height: 100%;
}

.product-bottom-details .b {
    float: left;
    width: 52%;
    height: 100%;
    color: white;
    border-left: 4px #0c3370 solid;
    background-image: linear-gradient(135deg, #0c3370 25%, transparent 20%),
    linear-gradient(to top, #02b6ff, #0158b1);

}

.product-price {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
}

.product-price small {
    font-size: 78%;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
    color: #036cdc;
}

.font-10 {
    font-size: 10px;
}

/*flickitu-carousel*/

.carousel {
    background: rgba(0, 0, 0, 0);
    height: 340px;
    align-items: center !important;
    width: 100%;
    vertical-align: middle;
}

.carousel-cell {
    height: 340px;
    width: 100%;
    overflow: hidden !important;
}

.carousel-cell img {
    width: 100% !important;
    height: 340px;
}

.carousel-cell .carousel-caption {
    display: none !important;
}

.carousel-cell .tag-slider {
    display: none !important;
}

.is-selected img {
    height: 340px;
    width: 100% !important;
    margin-top: 0;
}

.is-selected .carousel-caption {
    display: block !important;
}

.is-selected .tag-slider {
    display: block !important;

}

.carousel-caption {
    width: 32%;
    left: 10%;
    top: 26%;
    text-align: left;
}

/* smaller, dark, rounded square */

.flickity-button.flickity-prev-next-button.previous{
    background-image: url("img/group-9_2.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.flickity-button.flickity-prev-next-button.next{
    background-image: url("img/group-9.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}


.flickity-prev-next-button .arrow {
    fill: rgba(0, 0, 0, 0);
}


button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

@media (max-width: 1199px) {
    canvas {
        position: absolute;
        width: 100%;
        height: 0 !important;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }


}
